.login-container {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90%;
    border-left: 2px solid rgb(172, 172, 172);
    border-right: 2px solid rgb(172, 172, 172);
    margin: 0px auto;
    color: #022F55;
    background-image: url("https://i.ibb.co/QXwQCcX/Transparent-Social-Connect-Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.login-container .socialConnectLogo {
    width: 200px;
    margin-top: 30px;
}

.login-container h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
}
.login-container h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: white;
    border: 2px solid #022F55;
}

.login-container input {
    font-size: 18px;
    width: 90%;
    padding: 20px 10px 20px 65px;
    border: 2px solid #022F55;
}
.login-container form .email-container{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}
.login-container form .email-container img{
    position: absolute;
    width: 60px;
    height: auto;
    top: 32px;
    left: 32px;
    transform: translateY(-50%);
}
.login-container form .password-container{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}
.login-container form .password-container img{
    position: absolute;
    width: 60px;
    height: auto;
    top: 32px;
    left: 32px;
    transform: translateY(-50%);
}


.login-container .buttons {
    padding: 10px;
    margin: 5px;
    display: flex;
    width: 90%;
}
.login-container .loginBtn{
    font-size: 20px;
    padding: 15px 10px;
    margin: 5px;
    border: 2px solid #022F55;
    width: 100%;
    cursor: pointer;
}
.login-container button {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #022F55;
    width: 100%;
    cursor: pointer;
}
.login-container .loginBtn{
    font-size: 20px;
    padding: 15px 10px;
    margin: 5px;
    border: 2px solid #022F55;
    width: 100%;
    cursor: pointer;
}
.login-container button {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #022F55;
    width: 100%;
    cursor: pointer;
}